bcrypt
flask-bcrypt
email-validator
Flask
Flask-Bcrypt
flask-migrate
Flask-Session
psycopg2-binary
SQLAlchemy
requests
werkzeug==0.16
flask_login
flask-admin
flask-wtf
flask_socketio
gspread
oauth2client.service_account
pprint
WTForms
