{% extends 'base.html' %}

{% block head %}
    <title>Test Page</title>

    <link title="timeline-styles" rel="stylesheet"
        href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
{% endblock head %}

{% block body %}

<script type="text/javascript">
    function make_the_json () {
            const jsonData = {
                {% for post in posts %}
                    {{ post }}
                {% endfor %}
            };
        return jsonData;
    };

</script>

<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

<div class="container">
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="text-center">
            <h1 class="display-1">Welcome to the Past in Perspective!</h1>
        </div>
    </div>
</div>

<div id='timeline-embed' style="width: 100%; height: 600px"></div>


<script type="text/javascript">
    // make_the_json() is some javascript function you've written
    // which creates the appropriate JSON configuration
    var timeline_json = make_the_json();
    window.timeline = new TL.Timeline('timeline-embed', timeline_json);
</script>

    {% for post in posts %}
    <!-- 
        <h1>{{ post.start_date }}</h1>
        <p>Tells us {{ post.text.text }}</p>
    -->
        {{ post }}
    {% endfor %}

{% endblock body %}